@reference "../../../app.css";

.registration,
.methods {
  @apply w-full mt-4 mb-4 overflow-x-auto;
}

.registration {
  @apply text-center;
}

.registration table,
.methods table {
  @apply my-2 border-t border-primary-darker;
}

.registration table {
  @apply min-w-5xl w-full;
}

.methods table {
  @apply min-w-3xl mx-auto;
}

.registration thead,
.methods thead {
  @apply text-center font-bold;
}

.registration td,
.methods td {
  @apply border-b border-primary-darker py-1 px-2;
}
