@import "tailwindcss";

@theme {
  --color-primary: rgb(240, 48, 255);
  --color-primary-lighter: rgb(255, 119, 255);
  --color-primary-darker: rgb(179, 0, 191);
}

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 40, 40, 40;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB,
    Microsoft Yahei, sans-serif;
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

.zh-name {
  text-align: justify;
  height: 1em;
}

.zh-name:after {
  content: "";
  width: 100%;
  display: inline-block;
}

b,
strong {
  font-weight: bold;
}

.page {
  @apply text-justify font-light text-sm sm:text-base leading-7 hyphens-auto;
}

.page h2 {
  @apply text-lg sm:text-xl pl-5 sm:pl-6 not-first:mt-6 mb-4 text-left uppercase font-bold w-fit text-white relative before:content-[''] before:absolute before:w-2 before:h-full before:left-0 before:bg-primary-darker after:content-[''] after:absolute after:left-3 after:-z-10 after:w-full after:h-full after:bg-primary-darker;
}

.page p {
  @apply indent-8 mt-2;
}

.page div > ul {
  @apply mt-2;
}

.page div > ol {
  @apply mt-2;
}

.page ul {
  @apply list-disc list-outside ml-8;
}

.page ol {
  @apply list-decimal list-outside ml-8;
}

.page li {
  @apply indent-0;
}

.page h3 {
  @apply relative font-bold mt-2 pb-1 w-fit underline -underline-offset-4 decoration-primary-lighter decoration-8;
  text-decoration-skip-ink: none;
}

.page h4 {
  @apply relative font-bold mt-2;
}

.page a {
  @apply text-primary no-underline hover:underline;
}
