@import "tailwindcss";

@theme {
  --color-primary: rgb(240, 48, 255);
  --color-primary-lighter: rgb(255, 119, 255);
  --color-primary-darker: rgb(179, 0, 191);
  --color-primary-darkest: rgb(121, 0, 137);
}

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB,
    Microsoft Yahei, sans-serif;
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

b,
strong {
  font-weight: bold;
}
