@import "tailwindcss";

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 40, 40, 40;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  font-family: Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

.zh-name {
  text-align: justify;
  height: 1em;
}

.zh-name:after {
  content: "";
  width: 100%;
  display: inline-block;
}

b,
strong {
  font-weight: bold;
}

.page {
  @apply list-outside text-justify font-light text-sm sm:text-base leading-7 hyphens-auto;
}

.page h2 {
  @apply text-xl sm:text-2xl pl-5 sm:pl-6 mt-6 mb-4 uppercase font-bold relative before:content-[''] before:absolute before:w-2 before:h-full before:left-0 before:bg-sky-600;
}

.page p {
  @apply indent-8;
}

.page ul {
  @apply list-disc ml-8;
}

.page ol {
  @apply list-decimal ml-8;
}

.page li {
  @apply indent-0;
}
